
/*bavly code css*/

#font{
font-family:ui-serif;

font-size: 25px;
    font-weight: 100;
color: white;
	margin-left: 20px;

}
#map{

	width:  400px ;
    height: 150px ;

}
#dmap{
  color: white ;
	float: right;
	 height: 100% ;
    font-size: 25px;
    width: 405px;	 
}


#move{
	text-align: center;

    font-family: 'Tele Marines';
  src: url(../Site_Custom_Font/Strike_Fighter_Semi_Italic.ttf);
  font-weight: 80p;
  font-size: 30px

}
  

#aside{
	width: 30%;
    margin-left: 25px;


    font-weight: 100;


 color: white;
  

  font-size: 20px;
}

#Enter_rate{


  font-weight: 100;

    font-size: 20px;

}
.rate {

  font-size: 10px ;
    height: 0=15px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-1000px;
}
.rate:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;

}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

body {
  background-image: url('../Site - Images/back.jpg');
background-size: cover; }
/* Button used to open the chat form - fixed at the bottom of the page */
/*.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 10px;
  width: 280px;
  margin-bottom:130px;
}*/

/* The popup chat - hidden by default */
/*.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}*/

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
 
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}