#Body
{
	/*background-image: url("../Site - Images/Admins-items-Background.jpg");*/
	color: black;
	background-color: black;
}


.center{
	text-align: center;
	float: center;
}

#Table
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-spacing: 15px;
  color: white;
  border-color: white;
}

table, th, td
{
  border: 1px solid;
  padding: 5px;
}
